[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Ignore typing imports
    from typing import TYPE_CHECKING
    if TYPE_CHECKING:
    except ImportError:

    # Others
    except NameError:
    raise NotImplementedError()
    raise e

    # Not covered because of interpreter shutdown
    self._session.close()

    # Using a custom method to override this line in documents.py::convert()
    if 'is not available' in e.message:
