*.dylib
*.egg-info
*.framework
*.iml
*.pyc
*.swp
*~
.DS_Store
.cache/
.classpath
.coverage
coverage*
.eggs
.idea
.project
.pydevproject
.pytest_cache
.ropeproject
.settings
.tox
ENV
MANIFEST
bin
build
cover
coverage
debian
dist
dist-beta
htmlcov
lextab.py
target
venv
.vscode
yacctab.py
