name: Code quality
permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    paths:
      - "**/*.py"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: python -m pip install -U pip tox

      - name: Code quality check
        run: tox -e lint
