name: Release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch, tag or SHA to release from"
        required: true
        default: "master"

jobs:
  pure-built-distribution:
    name: Build pure wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - run: python -m pip install -U pip setuptools wheel
      - run: python setup.py bdist_wheel
      - uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions-wheel
          path: ./dist/*.whl

  source-distribution:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - run: python setup.py sdist
      - uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions-source
          path: dist

  publish:
    needs:
      - pure-built-distribution
      - source-distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: python-package-distributions-*
          path: dist/
          merge-multiple: true
      - run: ls -l dist

      - name: Upload Python Client on PyPi API Packages
        uses: pypa/gh-action-pypi-publish@release/v1
        env:
          PYPI_API_REPO_URL: ${{ github.ref == 'refs/heads/master' && 'public' || 'private' }}
        with:
          repository-url: https://packages.nuxeo.com/repository/pypi-private/
          user: ${{ secrets.TEST_PYPI_USER }}
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          skip_existing: true
          verbose: true
