name: Type annotations

on:
  pull_request:
    paths:
    - '**/*.py'

jobs:
  job:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: python -m pip install -U pip tox

    - name: Type annotations check
      run: tox -e types
